{% extends 'base.html' %}
{% block content %}
  <h1>Detail page</h1>
  <h2>{{ article.title }}</h2>
  <p>{{ article.content }}</p>
  <hr>
  <div>
    <form action="{% url 'create_comment' article.pk %}" method="post">
      {% csrf_token %}
      {{ comment_form.as_p }}
      <input type="submit" value="댓글등록">
    </form>
  </div>
  <div>
    {% for comment in comments %}
      <p>{{ comment.content }}</p>
      <form action="{% url 'delete_comment' article.pk comment.pk%}" method="post">
        {% csrf_token %}
        <input type="submit" value="댓글삭제">
      </form>
    {% endfor %}
  </div>

{% endblock %}