{% extends 'base.html' %}

{% block content %}
<h1>{{ article.title }}</h1>
<p>{{ article.content }}</p>
<div>
{{article.choices}}
</div>
<div>
  <form action="{% url 'vote:create_comments' article.pk %}" method="post">
  {% csrf_token %}
    {{ comment_form.as_p }}
    <input type="submit" value="댓글등록">
  </form>
  {% for comment in comments %}
    <p>{{ comment.content }}</p>
    <form action="{%url 'vote:comments_delete' article.pk comment.pk %}" method="post">
      {% csrf_token %}
      <input type="submit" value="Delete">
    </form>
  {% endfor %}
</div>
{% endblock content %}